html,
body {
  font-family: "Rounded Mplus 1c";
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /*スクロール禁止*/
  overscroll-behavior: none; /*　オーバースクロール禁止 */
  -webkit-touch-callout: none; /* リンク長押しのポップアップを無効化(Only Safari on iOS?←そんなこともなさそう) */
  -user-select: none; /* テキスト長押しの選択ボックスを無効化 */
}

body {
  background: #ffb681;
}

#wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}

/*button*/
.intro {
  height: 100%;
  margin: 50% auto;
}

.intro a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto auto;
  padding: 1em 2em 1em 6em;
  width: 430px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffe1cb;
  border-radius: 50vh;
  transition: 0.3s;
  text-decoration: none;
}

.intro a::before {
  content: '生活リズムを"リズムで"体感したことがありますか？';
  padding: 20px 0 0 40px;
  color: black;
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 44px);
  height: calc(100% - 24px);
  border: 2px solid #26dd26;
  border-radius: 50vh;
  transition: 0.2s;
}

.btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.btn a:hover::before {
  top: 0;
  left: 0;
}

.btn a:hover {
  text-decoration: none;
  background-color: #e4823d;
}
.intro_mobile {
  display: none;
}

/*popup表示させたいコンテンツのレイアウトと位置*/
#popup {
  width: 40%;
  line-height: 100px;
  padding: 0 4%;
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img {
  width: 100%;
}
label {
  display: block;
}
/*ボタンの装飾*/
label span {
  display: block;
  /*background-color:#01b6ed;*/
  color: #000;
  width: 200px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
}
label span:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}
/*checkboxがチェックの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup {
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close {
  background: #000;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
}

/*アンダーラインの文字の位置 */
.checkbox {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
