@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

html,
body {
  font-family: "Noto Sans JP", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/ /*スクロール禁止*/
  overscroll-behavior: none; /*　オーバースクロール禁止 */
  -webkit-touch-callout: none; /* リンク長押しのポップアップを無効化(Only Safari on iOS?←そんなこともなさそう) */
  -user-select: none; /* テキスト長押しの選択ボックスを無効化 */
}
body {
  background: #ffb681;
}
#wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 60%;
  margin: 0 auto;
}
.sec-title-wrapper {
  width: 100%;
}
.sec-contain-wrapper {
  width: 100%;
}
.img-explanation {
  max-width: 100%;
  width: 500px;
}

/*title*/
.sec-title {
  position: relative;
  display: inline-block;
  padding: 0.8rem 2rem 0.8rem 3rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #fa4141;
  font-size: 20px;
  margin-top: 50px;
}

.sec-title:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #ffb681;
}

/*button*/
.gamestart-btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 100px auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffe1cb;
  border-radius: 50vh;
  transition: 0.3s;
  text-decoration: none;
}

.gamestart-btn a::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #e46a14;
  border-radius: 50vh;
  transition: 0.2s;
}

.gamestart-btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.gamestart-btn a:hover::before {
  top: 0;
  left: 0;
}

.gamestart-btn a:hover {
  text-decoration: none;
  background-color: #e4823d;
}

.wf-roundedmplus1c { font-family: "Rounded Mplus 1c"; }
.wf-hannari { font-family: "Hannari"; }
.wf-kokoro { font-family: "Kokoro"; }
.wf-nicomoji { font-family: "Nico Moji"; }
