html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /*スクロール禁止*/
  -webkit-touch-callout: none; /* リンク長押しのポップアップを無効化 */
  -user-select: none; /* テキスト長押しの選択ボックスを無効化 */
}
canvas {
  display: block;
}
