html,
body {
  font-family: "Rounded Mplus 1c";
  min-height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/ /*スクロール禁止*/
  overscroll-behavior: none; /*　オーバースクロール禁止 */
  -webkit-touch-callout: none; /* リンク長押しのポップアップを無効化(Only Safari on iOS?←そんなこともなさそう) */
  -user-select: none; /* テキスト長押しの選択ボックスを無効化 */
}

body {
  background: #ffb681;
}

#wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}
.sec-title-wrapper {
  width: 100%;
}
.sec-contain-wrapper {
  width: 100%;
}

.img-explanation {
  max-width: 100%;
  width: 500px;
}

/*title*/
/*
.sec-title {
  position: relative;
  display: inline-block;
  padding: 0.8rem 2rem 0.8rem 3rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #fa4141;
  font-size: 20px;
}

.sec-title:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #ffb681;
  */

.sec-title {
  display: inline-block;
  position: relative;
  height: 50px; /*リボンの高さ*/
  line-height: 50px; /*リボンの高さ*/
  text-align: center;
  padding: 0 30px; /*横の大きさ*/
  font-size: 18px; /*文字の大きさ*/
  background: #6ce46c; /*塗りつぶし色*/
  color: #fff; /*文字色*/
  box-sizing: border-box;
}

.sec-title:before,
.sec-title:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  z-index: 1;
}

.sec-title:before {
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #ffb681;
  border-style: solid;
}

.sec-title:after {
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #ffb681 transparent transparent;
  border-style: solid;
}

/*button*/
.intro {
  height: 100%;
  margin: 50% auto;
}

.gamestart a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 100px auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffe1cb;
  border-radius: 50vh;
  transition: 0.3s;
  text-decoration: none;
}

.intro a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto auto;
  padding: 1em 2em 1em 6em;
  width: 430px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffe1cb;
  border-radius: 50vh;
  transition: 0.3s;
  text-decoration: none;
}

.gamestart a::before {
  content: "Game Start";
  padding: 20px 0 0 40px;
  color: black;
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 44px);
  height: calc(100% - 24px);
  border: 2px solid #26dd26;
  border-radius: 50vh;
  transition: 0.2s;
}

.intro a::before {
  content: '生活リズムを"リズムで"体感したことがありますか？';
  padding: 20px 0 0 40px;
  color: black;
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 44px);
  height: calc(100% - 24px);
  border: 2px solid #26dd26;
  border-radius: 50vh;
  transition: 0.2s;
}

.btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.btn a:hover::before {
  top: 0;
  left: 0;
}

.btn a:hover {
  text-decoration: none;
  background-color: #e4823d;
}
