html,
body {
  font-family: "Rounded Mplus 1c";
  min-height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden; /*スクロール禁止*/
  overscroll-behavior: none; /*　オーバースクロール禁止 */
  -webkit-touch-callout: none; /* リンク長押しのポップアップを無効化(Only Safari on iOS?←そんなこともなさそう) */
  -user-select: none; /* テキスト長押しの選択ボックスを無効化 */
}
body {
  background: #ffb681;
}
#wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.sec-title-wrapper {
  flex-direction: column;
  align-items: center;
  width: 90%;
  /*
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  */
}
.sec-contain-wrapper.not-embedded {
  width: 90%;
  font-size: 40px;
}
.sec-contain-wrapper.embedded {
  width: 90%;
  /*font-size: 40px;*/
}
/*
.fade1 {
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 2.2s;
}
*/
.img-explanation {
  /*max-width: 90%;*/
  max-width: 50%; /*変えるかも*/
  /* width: 420px;  */
  /*height: 520px;*/
  /*
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 3.4s;*/
}
/*
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/
.sec-title {
  /* position:relative; */
  /* align-items:center; */
  margin-left: auto;
  margin-right: auto;
}
/*title*/
/*
.sec-title.embedded {
  position: relative;
  display: inline-block;
  padding: 0.8rem 2rem 0.8rem 3rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #fa4141;
  font-size: 20px;
}
.sec-title.embedded:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #ffb681;
}

.sec-title.not-embedded {
  position: relative;
  display: inline-block;
  padding: 2rem 5rem 2rem 6rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #fa4141;
  font-size: 40px;
}
.sec-title.not-embedded:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #ffb681;
}
*/
.sec-title.embedded {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 30px;
  font-size: 18px;
  background: #26dd26;
  color: #fff;
  box-sizing: border-box;
}
.sec-title.embedded:before,
.sec-title.embedded:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  z-index: 1;
}
.sec-title.embedded:before {
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #ffb681;
  border-style: solid;
}
.sec-title.embedded:after {
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #ffb681 transparent transparent;
  border-style: solid;
}

.sec-title.not-embedded {
  /* display: inline-block; */
  display: block;
  width: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  line-height: 100px;
  text-align: center;
  padding: 0 60px;
  font-size: 40px;
  background: #26dd26;
  color: #fff;
  box-sizing: border-box;
}
.sec-title.not-embedded:before,
.sec-title.not-embedded:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  z-index: 1;
}
.sec-title.not-embedded:before {
  top: 0;
  left: 0;
  border-width: 50px 0px 50px 30px;
  border-color: transparent transparent transparent #ffb681;
  border-style: solid;
}
.sec-title.not-embedded:after {
  top: 0;
  right: 0;
  border-width: 50px 30px 50px 0px;
  border-color: transparent #ffb681 transparent transparent;
  border-style: solid;
}
/*button*/
.gamestart.not-embedded a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 20px auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 40px;
  font-weight: 700;
  background-color: #ffe1cb;
  border-radius: 50vh;
  transition: 0.3s;
  text-decoration: none;
}
.gamestart.embedded a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 10px auto;
  padding: 1em 2em;
  /* width: 150px; */
  width: 150px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffe1cb;
  border-radius: 50vh;
  transition: 0.3s;
  text-decoration: none;
}

.gamestart.not-embedded a::before {
  content: "Game Start";
  padding: 40px 0 0 50px;
  color: black;
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 54px);
  height: calc(100% - 44px);
  border: 2px solid #26dd26;
  border-radius: 50vh;
  transition: 0.2s;
}
.gamestart.embedded a::before {
  content: "Game Start";
  padding: 20px 0 0 40px;
  color: black;
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 44px);
  height: calc(100% - 24px);
  border: 2px solid #26dd26;
  border-radius: 50vh;
  transition: 0.2s;
}

.btn a::after {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.btn a:hover::before {
  top: 0;
  left: 0;
}

.btn a:hover {
  text-decoration: none;
  background-color: #e4823d;
}

.debug {
  width: 90%;
}
