html,
body {
  background-color: #e84d61;
  font-family: system-ui;

  margin: 0;
  padding: 0;
  /*overflow: hidden;*/ /*スクロール禁止*/
  -webkit-touch-callout: none; /* リンク長押しのポップアップを無効化(Only Safari on iOS?←そんなこともなさそう) */
  -user-select: none; /* テキスト長押しの選択ボックスを無効化 */
}
canvas {
  display: block;
}
.explain {
  background: #ffffff;
}
.img-explanation {
  position: relative;
  left: 10%;
  width: 80%;
}
