html,
body {
  font-family: "Rounded Mplus 1c";
  /*overflow: hidden; /*スクロール禁止*/
  -webkit-touch-callout: none; /* リンク長押しのポップアップを無効化 */
  -user-select: none; /* テキスト長押しの選択ボックスを無効化 */
}
body {
  background: #ffb681;
}

#wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 60%;
}
.sec-title-wrapper {
  width: 100%;
}
.sec-contain-wrapper {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  #wrapper {
    width: 100%;
  }
  .sec-title-wrapper {
    width: 90%;
  }
  .sec-contain-wrapper {
    width: 90%;
  }
}
.result-wrapper {
  display: flex;
}

.result-content {
  width: 100px;
}

/*title*/
.sec-title {
  display: inline-block;
  position: relative;
  height: 50px;/*リボンの高さ*/
  line-height: 50px;/*リボンの高さ*/
  text-align: center;
  padding: 0 30px;/*横の大きさ*/
  font-size: 18px;/*文字の大きさ*/
  background: #6ce46c;/*塗りつぶし色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}
.sec-title :before, .sec-title :after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
.sec-title:before {
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #ffb681;
  border-style: solid;
}
.sec-title:after {
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #ffb681 transparent transparent;
  border-style: solid;
}
top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #ffb681;

/*button*/
.replay a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 50px auto;
  padding: 1em 2em;
  width: 150px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffe1cb;
  border-radius: 50vh;
  transition: 0.3s;
  text-decoration: none;
}
.replay a::before {
  content: "もう1度プレイ";
  padding: 20px 0 0 40px;
  color: black;
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 44px);
  height: calc(100% - 24px);
  border: 2px solid #26dd26;
  border-radius: 50vh;
  transition: 0.2s;
}

.btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.btn a:hover::before {
  top: 0;
  left: 0;
}

.btn a:hover {
  text-decoration: none;
  background-color: #e4823d;
}
